@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.containers1 { 
  display: grid;
  font-size: 15px;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 5px; 
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 2%;
  text-align: center;
  text-size-adjust: 3%;
  align-items: center;
  justify-content: center;
}
.title{
font:bold;
font-size: x-large;
text-decoration: solid;
text-transform: uppercase;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  word-spacing: 5px; 
}
li  {
  word-spacing: 5px; 
  display: flex;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
.text{
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 7%;
}

.container{
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  align-self: center;
 
}
.card-body{
  justify-content: center;
  text-align: center;
  align-self: center;
}

.button {
  height: 40px;
  width:auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-self: center;  
  background-color:#28a745;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  color: #fdfdfd;
  transition: all 0.5s ease-in-out;
 
}

.btn-txt {
  letter-spacing: 1px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}


.button:hover {
  box-shadow: 1px 1px 200px #ddeedc;
  color: #fff;
  border: none;
}

.timeInput{
margin-bottom: 10%;
border-color: black;
height: 50px;
width: 200px;
align-items: center;
justify-content: center;
text-align: center;
}
.card-title{
  align-items: center;
  text-align: center;
  align-self: center;
  padding-top: 3%;
 padding-bottom: 2%;
}
.containers{

    display: grid;
    font-size: 15px;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 5px; 
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
}
.form_main {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 30px 30px 30px;
}

.heading {
  font-size: 2.5em;
  color: #2e2e2e;
  font-weight: 700;
  margin: 15px 0 30px 0;
}

.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputIcon {
  position: absolute;
  left: 10px;
}

.inputField {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(173, 173, 173);
  border-radius: 30px;
  margin: 10px 0;
  color: black;
  font-size: .8em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 30px;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid rgb(199, 114, 255);
}

.inputField::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}

#button {
  position: relative;
  width: 100%;
  border: 2px solid #8000ff;
  background-color: #8000ff;
  height: 40px;
  color: white;
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
}

#button::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.253);
  height: 100%;
  width: 150px;
  top: 0;
  left: -200px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  filter: blur(10px);
  transition-duration: .5s;
}

#button:hover::after {
  transform: translateX(600px);
  transition-duration: .5s;
}

.signupContainer {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.signupContainer p {
  font-size: .9em;
  font-weight: 500;
  color: black;
}

.signupContainer a {
  font-size: .7em;
  font-weight: 500;
  background-color: #2e2e2e;
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
}